.contact-container {
    margin: 5rem ;
    padding: 2rem;
    background: #ffffff48;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .contact-form button {
    padding: 0.8rem;
    background-color: #007bff;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  