
.nav1 {
    background-color: #222;
    color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 10rem;
  }
  
  .mysite {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .lists {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    margin: 0;
    padding-left: 15rem;
  }
  
  .lists li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  
  .lists li a:hover {
    color: #ffa200;
  }
  
  .nav1 input {
    width: 20rem;
  }